{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Sign In {% endblock %}

{% block body_attrs %} class="text-center" {% endblock %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='auth/css/signin.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

{{ form.csrf_token }}
<div class="container">
    <main class="form-signin">
        <form method="POST">
            <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages%}
            {% for msg in messages %}
            <div class="alert alert-danger">
                {{ msg }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button class="w-100 btn btn-lg btn-primary" name="submit" type="submit">Sign in</button>
                <button class="w-100 btn btn-lg btn-outline-secondary" name="submit" type="submit" value="sign-up">Sign up</button>
            </div>
        </form>


    </main>
    {% include "footer.html" %}
</div>
{% endblock %}