{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Sign In {% endblock %}

{% block body_attrs %} class="text-center" {% endblock %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='auth/css/signin.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <main class="form-signin">
        <form method="POST">
            {{ form.csrf_token }}
            {% with messages = get_flashed_messages() %}
            {% if messages%}
            {% for msg in messages %}
            <div class="alert alert-danger">
                {{ msg }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="form-group">

                <div class="form-floating mb-3">
                    {{ form.email(class="form-control", placeholder="name@example.com", id="floatingEmail") }}
                    <label for="floatingEmail">Email</label>
                </div>

                <div class="form-floating mb-3">
                    {{ form.password(class="form-control", placeholder="********", id="floatingPassword") }}
                    <label for="floatingPassword">Password</label>
                </div>
            </div>

            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button class="btn btn-lg w-100 btn-dark" name="signin" type="submit">Sign In</button>
            <button class="btn btn-lg w-100 btn-outline-dark" name="signup" type="submit">Sign Up</button>
              </div>

        </form>


    </main>
</div>
{% endblock %}%