{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Sign Up {% endblock %}

{% block body_attrs %} class="text-center" {% endblock %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='auth/css/signin.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">

    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    <main class="form-signin">
        <form method="POST">
            {{ form.csrf_token }}
            {% with messages = get_flashed_messages() %}
            {% if messages%}
            {% for msg in messages %}
            <div class="alert alert-danger">
                {{ msg }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="form-group">

                <div class="form-floating mb-3">
                    {{ form.email(class="form-control", placeholder="name@example.com") }}
                    {{ form.email.label }}
                </div>

                <div class="form-floating mb-3">
                    {{ form.name(class="form-control", placeholder="Name") }}
                    {{ form.name.label }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.password(class="form-control", placeholder="********") }}
                    {{ form.password.label }}
                </div>

                <div class="form-floating mb-3">
                    {{ form.confirm_password(class="form-control", placeholder="********") }}
                    {{ form.confirm_password.label }}
                </div>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    {{ form.submit(class="btn btn-lg w-100 btn-dark") }}
                    <a class="btn btn-lg w-100 btn-outline-dark" href="{{ url_for('auth.signin') }}">Sign In</a>
                </div>

        </form>


    </main>
</div>
{% endblock %}%