{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Edit podcast {% endblock %}

{% block page_content %}
<div class="container">
    <h1 class="h3 mb-3 font-weight-normal">Edit Podcast</h1>
    <main>
        <form method="POST">
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.title.label }}
                {{ form.title(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.description.label }}
                {{ form.description(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.language.label }}
                {{ form.language(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.image.label }}
                {{ form.image(class="form-control")}}
            </div>
            <div class="mb-3">
                {{ form.explicit(class="form-check-input")}}
                {{ form.explicit.label }}
            </div>
            <div class="mb-3">
                {{ form.category.label }}
                {{ form.category(class="form-control")}}
            </div>
            <div class="mb-3">
                {{ form.ep_type.label }}
                {{ form.ep_type(class="form-control")}}
            </div>
            <div class="mb-3">
                {{ form.allowed_regions.label }}
                {{ form.allowed_regions(class="form-control")}}
            </div>
            <div class="mb-3">
                {{ form.ep_limit.label }}
                {{ form.ep_limit(class="form-control")}}
            </div>
            <div class="mb-3">
                {{ form.origin.label }}
                {{ form.origin(class="form-control")}}
            </div>

            <div class="mb-3">
            {{ form.submit(class="btn btn-lg w-100 btn-dark") }}
            </div>
        </form>
    </main>
</div>
{% endblock %}